.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none !important;
    vertical-align: middle !important;
    text-align: middle !important;

}

.row-border tbody tr td, .row-border tbody tr th, .row-border thead tr th {
    border-bottom: 1px solid #CCCCCC !important;
    
}

.small-loading
{
    background: url('images/load.gif') no-repeat;
    width:16px;
    height:15px;
    padding-left:25px;
    padding-top:1px;
    display: none;
}

.readonly_label
{
    padding-top:7px;
}
ul.chzn-choices li.search-field input
{
    box-shadow: none !important;
}
#crudForm .pDiv
{
    /*background: #FFF !important;*/
    padding-top:10px;
    padding-bottom:10px;
    /*border-radius: 0px 0px 5px 5px;*/
}


.form-display-as-box
{
    float:left;
    width:200px;
    padding-top:7px;
}
.form-input-box
{
    float:left;
}
div.form-button-box {
    float:left;
    margin-top:11px;
    margin-left:10px;
}
div.bDiv table {/*
    border-bottom:1px solid #ccc;*/
}
div.hGrip {
    position:absolute;
    top:0px;
    right:0px;
    height:5px;
    width:5px;
    background:url(images/line.gif) repeat-x center;
    margin-right:1px;
    cursor:col-resize;
}
div.hGrip:hover,.flexigrid div.hGrip.hgOver {
    border-right:1px solid #999;
    margin-right:0px;
}
span.cdropleft {
    display:block;
    background:url(images/prev.gif) no-repeat -4px center;
    width:24px;
    height:24px;
    position:relative;
    top:-24px;
    margin-bottom:-24px;
    z-index:3;
}
div.hDiv span.cdropright {
    display:block;
    background:url(images/next.gif) no-repeat 12px center;
    width:24px;
    height:24px;
    float:right;
    position:relative;
    top:-24px;
    margin-bottom:-24px;
}
div.bDiv td div {
    border-top:0px solid #fff;
    padding-bottom:4px;
}

/* end novstripe */
div.pDiv {
    /*background:url(images/wbg.gif) repeat-x 0 -1px;
    border:1px solid #ccc;
    border-top:0px;*/
    overflow:hidden;
    white-space:nowrap;
    position:relative;
}
div.pDiv div.pDiv2 {
    margin:3px;
    margin-top: 5px;
    margin-left:-2px;
    float:left;
    width:1024px;
}
div.pGroup {
    float:left;
    /*background:none;
    height:24px;*/
    height:30px;
    margin:0px 5px;
}
div.pDiv .pPageStat,.flexigrid div.pDiv .pcontrol {
    position:relative;
    /*top:5px;*/
    overflow:visible;
}
div.pDiv input {
    vertical-align:text-top;
    position:relative;
    top:-5px;
}
div.pDiv div.pButton {
    float:left;/*
    width:22px;
    height:22px;
    border:0px;*/
    cursor:pointer;
    overflow:hidden;
}
div.pDiv div.pButton:hover,.flexigrid div.pDiv div.pButton.pBtnOver {/*
    width:20px;
    height:20px;
    border:1px solid #ccc;
    cursor:pointer;*/
}
div.pDiv div.pButton span {/*
    width:20px;
    height:20px;*/
    display:block;
    float:left;
}
div.pDiv div.pButton:hover span,.flexigrid div.pDiv div.pButton.pBtnOver span {/*
    width:19px;
    height:19px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;*/
}

.pReload.loading,.flexigrid .fbutton.loading{
    background:url(css/images/load.gif) no-repeat center;
}
 .simple-loading{
    background:url(css/images/load.gif) no-repeat center;
    display:block;
    float:left;
    width: 16px;
    height: 16px;
}
.search-div-clear-button
{
    float:right;
    padding:5px;
}

/** Common CSS */
.loading-opacity
{
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.loading-opacity:before {
    font-size: 26px;
    position:absolute;
    color: #000;
    content: "Loading...";
    margin-left: 550px;
    z-index: 1000;
}
td textarea {
    width: 100% !important;
    height: 100% !important;
}