
#page {
	padding-top:0px;
 	padding-bottom:0px;
 	
	width:1000px;
	margin-left: auto;
    margin-right: auto;
 	
	margin-top:0px;
	margin-bottom:-83px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.7);
	
	border-right: solid 1px #EBE7E7;
	border-left: solid 1px #EBE7E7;
	min-height: 100%;
}

#pluginName{
	float:right;
	margin-right: 10px;
	margin-top:40px;
	color:#E44C26;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}

#pageContent{
	position:absolute;
 	padding-top:100px;
 	padding-left:10px;
 	padding-right:10px;
 	width:1000px;
 	overflow:hidden;
}
.pageListItem{
	position: absolute;
	width: 1000px;
}


#headerContainer{
	width:1000px;
	margin-left: auto;
    margin-right: auto;
}

#logo{
	padding-top: 15px;
	padding-left: 10px;
	float: left;
	width: 380px;
}

#log{
	background-color: #FFFFFF;
	height: 100px;
	width: 100px;	
}

#websiteLink{
	color:#EF5F22;
}
/**
 * 	plugin css
 */

#pluginDetails{
	margin-top: 50px;
}

#imgContainer{
	width: 980px;
	height: 500px;
}

#positionButtonDiv{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(58, 56, 63);
	/* RGBa with 0.6 opacity */
	background: rgba(58, 56, 63, 0.8);	
	border: solid 1px #100000;
	color:#FFFFFF;
	padding: 8px;
	text-align: left;
	position:absolute;
	right: 35px;
	top: 190px;
}

#positionButtonDiv .positionButtonSpan img{
	float: right;
	border:0;
}

.positionMapClass area{
	cursor: pointer;
}

.zoomButton{
	border:0;
	cursor: pointer;
}

.zoomableContainer{
	background-image: url("assets/transparent.png");
}


