    /*Style untuk bagan , murni css tanpa javasrcipt*/
    * {
        margin: 0;
        padding: 0;
    }
    .tree {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .tree ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    .tree li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    /*We will use ::before and ::after to draw the connectors*/
    /* Kami akan menggunakan ::sebelum dan :: Sesudah untuk menggambar garis konektor */

    .tree li::before, .tree li::after {
        content:'';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid black;
        width: 50%;
        height: 20px;
    }
    .tree li:after {
        right: auto;
        left: 50%;
        border-left: 1px solid black;
    }

    /* garis vertikal atasnya kotak */ 
    .tree li.ghost:after {
        right: auto;
        left: 50%;
        border-left: 0px solid black;
    }

    /*We need to remove left-right connectors from elements without any siblings*/
    /* Kami butuh untuk menghapus garis konektor kiri - kanan dari element tanpa menerima apapun */  
    .tree li:only-child::after, .tree li:only-child::before {
        display: none;
    }
    /*Remove space from the top of single children*/
    .tree li:only-child {
        padding-top: 0;
    }
    /*Remove left connector from first child and right connector from last child*/
    .tree li:first-child::before, .tree li:last-child::after {
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before {
        border-right: 1px solid black;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }
    .tree li:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }
    /*Time to add downward connectors from parents*/
    /* Waktunya untuk membuat garis vertikal kebawah sebelum orang tuanya */
    .tree ul ul::before {
        content:'';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid black;
        width: 0;
        height: 115px;
        margin-left: -1px;
    }

    /*Time to add downward connectors from parents*/
    /* Waktunya untuk membuat garis vertikal kebawah sebelum orang tuanya */
    .tree ul.parent ul::before {
        content:'';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid black;
        width: 0;
        height: 20px;
        margin-left: -1px;
    }

    /* gaya untuk kotak bagan */
    .tree li a {
        border: 1px solid black;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    .tree li a:hover, .tree li a:hover+ul li a {
        background: #c8e4f8;
        color: #000;
        border: 1px solid #94a0b4;
    }
    /*Connector styles on hover*/
    .tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
        border-color: #94a0b4;

    }
    li a.just-line {
        display: none;
    }
    a.just-line + ul {
        padding-top: 74px;
    }
    a.just-line + ul:before {
        height: 74px;
        display: none;
        border-left: 0px solid #94a0b4;
    }

    .garis-atas{
        border-bottom: 1px solid black;
        display: block;        
        width: 100%;
    }
    .judul{
        font-weight: bold;
    }
    .btn-toolbar .btn{
        margin-right: 5px;
    }
    .btn-toolbar .btn:last-child{
        margin-right: 0;
    }
    .jabatan-kosong{
        background: #FFFF99;
    }